$colors: coral, skyblue, mediumseagreen, steelblue, thistle, gold, slategrey, hotpink, turquoise, tomato, lightblue, mediumpurple;
$darkGrey: #333;


@for $i from 1 through length($colors) {
  .box:nth-child(#{length($colors)}n+#{$i}) {
		background: darken(nth($colors, $i), 5%);
	}
}

// FIXES
* {
  box-sizing: border-box;
}
// BASE
body {
  font-family: sans-serif;
  background-color: #333;
}
h1 {
  color: cadetBlue;
  background-color: #333;
}

// STRUCTURE
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header {
  background: #333;
  transition: 1s;
  overflow: hidden;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
  &.active {
    position: absolute;
    height: 300px;
  }
}
nav {
  bottom: -26px;
  right: 16px;
  &.active {
    transition: bottom 1s ease-in;
    position: absolute;
    bottom: 16px;
  }
}
.robot-controllers {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
  color: white;
  padding: 6px 9px;
  margin: 0;
  margin-right: 8px;
  transition: background-color .2s ease-in;
  &:last-child {
    margin-right: 0;
  }
  &:hover {
    background: rgba(255, 255, 255, .3);
  }
  &:active {
    background: rgba(255, 255, 255, .2);
  }
}

// ROBOT ////////////////////////////////////////////////////////////////
.robot-container {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
}

// ROBOT HEAD
#robot-head {
  height: 0;
  transform: scale(0);
  transition: .8s cubic-bezier(.17,.67,.67,1.18);
  background: repeating-linear-gradient(125deg, #333, #333 1px, #666 1px, #666 20px);
  &.active {
    position: absolute;
    top: 5px;
    left: 25px;
    width: 50px;
    height: 40px;
    transform: scale(1);
    transition-delay: .5s;

  }
}
#head-krusidull {
  &.active {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
  }
}
#robot-neck {
  &.active {
    position: absolute;
    top: 46px;
    left: 44px;
    width: 15px;
    height: 5px;
    border-radius: 8px;
    background: repeating-linear-gradient(45deg, #f1f1f1, #f1f1f1 1px, #666 1px, #666 3px) !important;
  }
}
#robot-right-ear {
  &.active {
    position: absolute;
    top: 12px;
    left: 52px;
    width: 10px;
    height: 20px;
  }
}
#robot-left-ear {
  &.active {
    position: absolute;
    top: 12px;
    left: -12px;
    width: 10px;
    height: 20px;
  }
}
#robot-right-eye {
  &.active {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    animation-name: blink;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: 50%;
  }
}
#robot-left-eye {
  transform: scale(0);
  transition: .4s cubic-bezier(.17,.67,.5,1.46);
  &.active {
    position: absolute;
    top: 7px;
    left: 27px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    transform: scale(1);
  }
}
#robot-mouth {
  &.active {
    position: absolute;
    top: 28px;
    left: 10px;
    width: 30px;
    height: 6px;
  }
}

// ROBOT BODY
#robot-right-arm {
  &.active {
    position: absolute;
    top: -12px;
    left: 102px;
    width: 15px;
    height: 70px;
    border-radius: 0 25px 0 0;
    transform: translateX(0) rotate(180deg);
    transform-origin: bottom left;
    transform-style: preserve-3D;
    animation:
      wave 1.5s ease-in-out 0s 2 alternate,
      miniDingleSecond 5s infinite 1.5s alternate;
  }
}
#robot-left-arm {
  &.active {
    position: absolute;
    transition: .5s;
    top: 58px;
    left: -2px;
    width: 15px;
    height: 90px;
    border-radius: 0 0 25px 0;
    transform-origin: top center;
    transform-style: preserve-3D;
    animation: miniDingle 5s infinite ease-in-out;
  }
}
#robot-belly {
  height: 0;
  transform: scale(0);
  transform-origin: 80% 20%;
  transition: .5s cubic-bezier(.17,.67,.67,1.18);
  &.active {
    position: absolute;
    top: 52px;
    left: 15px;
    width: 70px;
    height: 70px;
    transform: scale(1);
  }
}
// HEART
#heart {
  display: none;
  display: inline-block;
  position: absolute;
  left: -64px;
  top: 18px;
  width: 10px;
  height: 10px;
  height: 0;
  transform: scale(0);
  transform-origin: 80% 20%;
  &:before,
  &:after {
    position: absolute;
    content: "";
    left: 109px;
    top: 0;
    width: 9px;
    height: 15px;
    background: tomato;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    animation: beat 1.5s ease .5s infinite alternate;
  }
  &:after {
    left: 101px;
    transform: rotate(45deg);
    transform-origin :100% 100%;
    animation: beatRight 1.5s ease .5s infinite alternate;
  }
  &.active {
    position: absolute;
    left: -64px;
    top: 18px;
    width: 10px;
    height: 10px;
    transform: scale(1);
  }
}


#robot-pelvis {
  &.active {
    position: absolute;
    top: 123px;
    left: 29px;
    width: 40px;
    height: 10px;
    border-radius: 8px;
    background: repeating-linear-gradient(125deg, #f1f1f1, #f1f1f1 1px, #666 1px, #666 5px) !important;
  }
}
#robot-right-leg {
  top: -70px;
  transition: .5s;
  &.active {
    position: absolute;
    top: 135px;
    left: 18px;
    width: 25px;
    height: 70px;
    animation: fadeIn .9s ease-in;
  }
}
#robot-left-leg {
  &.active {
    position: absolute;
    top: 135px;
    left: 54px;
    width: 25px;
    height: 70px;
    animation: gradient 10s linear 5s infinite normal;
  }
}
#robot-right-foot {
  &.active {
    position: absolute;
    top: 207px;
    left: 3px;
    width: 40px;
    height: 10px;
    border-radius: 20px 0 0 0;
    background-color: darkSlateBlue;
    transform: rotate(0);
    transform-origin: top right;
    animation: dingle .5s ease-in 20s 3 normal;
  }
}
#robot-left-foot {
  &.active {
    position: absolute;
    top: 207px;
    left: 54px;
    width: 40px;
    height: 10px;
    border-radius: 0 20px 0 0;
    background-color: darkSlateBlue;
  }
}

@keyframes gradient {
  0% { background-color: lightBlue; }
  50% { background-color: rosyBrown; }
  100% { background-color: lightBlue; }
}
@keyframes beat {
  0% {transform: rotate(-45deg) scale(1);}
  50% {transform: rotate(-45deg) scale(1.1);}
  100% {transform: rotate(-45deg) scale(1);}
}
@keyframes beatRight {
  0% {transform: rotate(45deg) scale(1);}
  50% {transform: rotate(45deg) scale(1.1);}
  100% {transform: rotate(45deg) scale(1);}
}

@keyframes dingle {
  0% { transform: rotate(0);}
  50% { transform: rotate(10deg); }
  75% { transform: rotate(8deg); }
  100% { transform: rotate(11deg); }
}
@keyframes wave {
  0% { transform: translateX(0) rotate(180deg); }
  50% { transform: translateX(-18px) rotate(30deg); }
  60% { transform: translateX(-18px) rotate(28deg); }
  70% { transform: translateX(-18px) rotate(30deg); }
  80% { transform: translateX(-18px) rotate(28deg); }
  90% { transform: translateX(-18px) rotate(30deg); }
  100% { transform: translateX(-16px) rotate(20deg); }
}
@keyframes miniDingle {
  0% { transform: rotate(-1deg); }
  50% { transform: rotate(5deg); }
  100% { transform: rotate(-1deg); }
}
@keyframes fadeIn {
  0% { opacity: 0; }
  50% { opacity: .5; }
  100% { opacity: 1; }
}

@keyframes blink {
  0% { transform: scaleX(1) scaleY(1); }
  1% { transform: scaleX(1.3) scaleY(0.1); }
  2% { transform: scaleX(1) scaleY(1); }
  60% { transform: scaleX(1) scaleY(1); }
  61% { transform: scaleX(1.3) scaleY(0.1);}
  62% { transform: scaleX(1) scaleY(1); }
  100% { transform: scaleX(1) scaleY(1); }
}


#color-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: #333;
  transition: 1s;
  &.active {
    margin-top: 300px;
  }
}
.box {
  display: flex;
  // flex-grow: 1;
  background: lighten(black, 50%);
  width: calc(100% * (1/16));
  z-index: 1;
  border: 5px solid transparent;
  transition: border 1s;
  @media only screen and (max-width: 1000px) {
    width: calc(100% * (1/14));
  }
  @media only screen and (max-width: 800px) {
    width: calc(100% * (1/12));
  }
  @media only screen and (max-width: 600px) {
    width: calc(100% * (1/10));
  }
  @media only screen and (max-width: 400px) {
    width: calc(100% * (1/9));
  }
  &:hover {
    transition: .3s;
    animation: psycadellicHover .5s, removeBorder .5s;
  }
}

@keyframes psycadellicHover {
  0% { box-shadow: inset 0 0 0 0 rgba(255, 255, 255, .5); }
  100% { box-shadow: inset 0 0 0 45px rgba(255, 255, 255, 0); }
}
@keyframes removeBorder {
  0% { border: 2px solid rgba(255, 255, 255, .5); }
  100% { border: 2px solid rgba(255, 255, 255, 0); }
}
