// VARIABLES
$red: red;
$orange: orange;
$green: green;

// FIXES
* {
  box-sizing: border-box;
}
// BASE
body {
  font-family: sans-serif;
}
h1 {
  color: white;
  background-color: #333;
}
a {
  color: white;
  text-decoration: none;
}

// STRUCTURE
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}
header,
footer {
  width: 100%;
  min-height: 40px;
  padding: 10px 20px;
}
.header {
  background: lighten(black, 50%);
}
main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  min-height: 100vh;
  background-color: white;
}

.box {
  display: flex;
  background: lighten(black, 50%);
  width: calc(100% * (1/16));
  @media only screen and (max-width: 1000px) {
    width: calc(100% * (1/14));
  }
  @media only screen and (max-width: 800px) {
    width: calc(100% * (1/12));
  }
  @media only screen and (max-width: 600px) {
    width: calc(100% * (1/10));
  }
  @media only screen and (max-width: 400px) {
    width: calc(100% * (1/9));
  }
  &:hover {
    opacity: .7;
    transition: .3s;
  }
}
.box1 {
    background: darken($red, 30%)
}
 .box2 {
   background: darken($red, 20%)
}
.box3 {
  background: darken($red, 10%)
}
 .box4 {
  background: $red;
}
.box5 {
 background: lighten($red, 10%);
}
.box6 {
  background: lighten($red, 20%);
}
.box7 {
  background: lighten($red, 30%);
}
.box8 {
  background: darken($orange, 30%);
}
.box9 {
  background: darken($orange, 20%);
}
.box10 {
  background: darken($orange, 10%);
}
.box11 {
  background: $orange;
}
.box12 {
  background: lighten($orange, 10%);
}
.box13 {
  background: lighten($orange, 20%);
}
.box14 {
  background: lighten($orange, 30%);
}
.box53 {
  background: lighten(black, 10%);
}
.box44 {
  background: lighten(black, 20%);
}
.box68 {
  background: black;
}
.box73 {
  background: lighten(black, 30%);
}
